<ons-page id="home">
  <script>
    const openMenu = () => {
      document.querySelector('#menu').open();
    };
  </script>

  <ons-toolbar id="home-toolbar">
    <div class="center">Shopping</div>

    <div class="left">
      <ons-toolbar-button onclick="openMenu()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-tabbar id="tabbar">
    <ons-tab page="products.html" label="Products"></ons-tab>
    <ons-tab page="checkout.html" label="Checkout"></ons-tab>
  </ons-tabbar>
</ons-page>